body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

img {
    width: 300px; 
    height: auto; 
    border-radius: 15px;
    filter: grayscale(50%) brightness(1.2);
    transition: transform 0.3s ease; 
}

img:hover {
    transform: scale(1.1); 
}

