body{  
    background-color: #f1f1f1;
}

h1{
    color: fgba(8, 141, 165, 1);
    margin-left: 100px;
    text-shadow: 1px .5px 4px rgba(0, 0, 0, 0.6 );
}
.container{
    width: 450px;
    height: 450px; 
    background-color: #faebd7;
    border: 2px solid black;
    border-radius: 5%;
}

.container .squares:nth-child(-n+4){
    background-image: url("../Icon Folder/icon2.png");
    color: #0c0000;
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 25%;
    cursor: pointer;
}

.sqaure:nth-child(1){
    background: #4240ff;
}
.sqaure:nth-child(2){
    background: #ab3fdd;
    }
.sqaure:nth-child(3){
    background: #4ae163e;
    }
.sqaure:nth-child(4){
    background: #00b200;
    }
